{% load static %}
<footer class="footer">
    <ul class="footer-list">
        <li>
            <a href="https://www.youtube.com/@yunobit5555" class="social-link">
                <img src="{% static 'images/youtube.webp' %}" height="25" width="25" alt="YouTube Logo" class="social-logo">
                We in YouTube
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/yunobit555" class="social-link">
                <img src="{% static 'images/instagram.webp' %}" height="25" width="25" alt="Instagram Logo" class="social-logo">
                We in Instagram
            </a>
        </li>
        <li class="contact-item">
            <img src="{% static 'images/WhatsApp.png' %}" height="25" width="48" alt="WhatsApp Logo" class="social-logo">
            <p>+995 552 288 100<br>Contact Us</p>
        </li>
    </ul>
</footer>
